mixin ideas()
	.ideas.container-fluid.no-paddings
		.container
			h2.ideas__title Waxom is Realization of your Ideas.
			p.ideas__p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
			.row.no-gutters.align-items-end.ideas__imgs
				.col-md-4
					a.ideas__link(href="#")
						img.img-fluid.ideas__img.ideas__img_left(src="img/idea1.jpg", alt="site template variant")
				.col-md-4
					a.ideas__link(href="#")
						img.img-fluid.ideas__img(src="img/idea2.jpg", alt="site template variant")
				.col-md-4
					a.ideas__link(href="#")
						img.img-fluid.ideas__img.ideas__img_right(src="img/idea3.jpg", alt="site template variant")
		
