.btn
    color #ffffff
    text-transform uppercase
    text-decoration none 
    background-color color-primary
    padding 20px 45px
    box-sizing border-box
    display inline-block
    font-family ralewayextrabold
    font-size 14px
    border-radius 3px
    box-shadow 0 3px 0 0 darken(color-primary,30%)
    transition all .2s ease-out

.btn:hover
    background-color darken(color-primary,15%)
    box-shadow 0 3px 0 0 darken(color-primary,35%)

.btn:active,
.btn:focus
    background-color darken(color-primary,20%)
    box-shadow 0 3px 0 0 darken(color-primary,45%)
    transform translateY(1px)