.video
	position relative
	&__cover
		height 705px
		max-height 100vh
		background-position center
		background-size cover
	&__content
		position absolute
		top 50%
		left 50%
		transform translate(-50%,-50%)
		text-align center
	&__icon-play
		fill #fff
		vertical-align middle
		transition all .2s ease-out
	&__icon-play:hover
		transform scale(1.05) rotate(90deg)
		fill lighten(color-primary,60%)
	&__icon-play:active
		transform scale(1.15) rotate(90deg)
		fill lighten(color-primary,20%)
	&__icon-container
		width 100px
		height 100px
		display inline-block
		background-color rgba(0, 0, 0, 0.2)
		border-radius 50%
		line-height 100px
		margin-bottom 44px
		font-size 0
	&__title
		font-size 30px
		font-family ralewaymedium 
		color #fff
		margin-bottom 29px
	&__p
		font-size 16px
		font-family montserratlight 
		line-height 28px
		color #ffffff
		margin-bottom 40px
	&__duration
		font-size 14px
		font-family montserratlight 
		color #c7b299
