mixin video()
	.video.container-fluid.no-paddings
		.video__cover(style="background-image: url(img/video-cover.jpg")
		.video__content
			a.video__icon-container(href="#")
				+icon('play',true)(width="70",height="70",class="video__icon-play")
			h2.video__title Vaxom Video Presentation
			p.video__p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
			span.video__duration 03:26

