.stats
	background linear-gradient(90deg, #211b19 0%, #4e3427 100%)
	padding 70px 0 0 0
	&__item
		text-align center
		font-size 0
		padding-bottom 60px
	&__item::after
		content ''
		width 30px
		height 2px
		display inline-block
		background-color #fff
	&__icon
		fill #c7b299
		margin-bottom 30px	
	&__value
		font-size 48px
		font-family montserratultralight 
		color #ffffff
		margin-bottom 21px
	&__description
		font-size 14px
		font-family montserratlight 
		color #c7b299
		text-transform uppercase
		margin-bottom 30px
		line-height 20px
