.mobile
	background-color #fbfaf8
	&__content
		padding 80px 15px
	&__list-item
		font-size 16px
		font-family montserratlight 
		color #8c8c8c
		line-height 32px
		padding-left 70px
		margin-bottom 5px
	&__list-text
		vertical-align middle
	&__list-icon
		vertical-align middle
		fill #c7b299
		margin-left -52px
		margin-right 27px
	&__title
		font-size 30px
		font-family ralewaysemibold 
		color color-black
		margin-bottom 40px
	&__p
		font-size 16px
		font-family montserratlight 
		color #8c8c8c
		line-height 28px
		margin-bottom 45px
	&__img
		padding-top 80px
		display block

	@media screen and (max-width xl-bp)
		&__content
			padding 80px 15px 0 15px
