mixin partners()
	.partners.container-fluid.no-paddings
		.container
			.row.align-items-center
				.col-md-3.text-center
					a.partners__link(href="#")
						img.partners__img.img-fluid(src="img/partner1.png",alt="partner logo")
				.col-md-3.text-center
					a.partners__link(href="#")
						img.partners__img.img-fluid(src="img/partner2.png",alt="partner logo")
				.col-md-3.text-center
					a.partners__link(href="#")
						img.partners__img.img-fluid(src="img/partner3.png",alt="partner logo")
				.col-md-3.text-center
					a.partners__link(href="#")
						img.partners__img.img-fluid(src="img/partner4.png",alt="partner logo")