.promo
	display block
	background: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
	padding 50px 0
	&__title
		font-size 28px
		font-family ralewayregular 
		color #fff
		margin-bottom 8px
		line-height 40px
		strong
			color #c7b299
	&__p
		color #615855
		font-size 18px
		font-family montserratlight
	&__btn
		text-align right
	@media screen and (max-width md-bp)
		text-align center
		&__btn
			text-align center
		&__p
			margin-bottom 24px	